# Java
*.class
*.jar
*.war
*.ear

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-con

# Eclipse
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# IntelliJ
out/
.idea/
generated/
*.iml
*.ipr
*.iws

# Misc
logs/
resources/sounds/music/
javadoc/
archive/
resampled/
config.yml
/.apt_generated
*.blend1

# Keep This Shit
!/lib/*.jar
!/gradle/wrapper/gradle-wrapper.jar

# Gradle junk
.gradle

# OS Junk
.directory
.DS_Store
__MACOSX
Thumbs.db
