# Java
*.class
*.jar
*.war
*.ear

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-con

# Eclipse
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# IntelliJ
out/
.idea/
generated/

# Misc
logs/
src/main/resources/sounds/music/
javadoc/
archive/
resampled/
config.yml
/.apt_generated

# Keep This Shit
!/lib/*.jar

# Gradle junk
.gradle