# Java
*.class
*.jar
*.war
*.ear

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-con

# IntelliJ
out/
.idea/
generated/

# Misc
logs/
resources/sounds/music/
javadoc/
archive/
resampled/
config.yml

# Keep This Shit
!/lib/*.jar